{% extends 'base.html.twig' %}


{% block body %}
<div class="continente">
    <p>
    <button>Nueva Partida</button>
    </p>
    <p>
       <a href="{{ path('usuario_entrar') }}"> <button>Continuar</button></a>
    </p>
</div>

    <style>
        button {
            color:black;
            background-color: rgba(255, 255, 255, 0.3);
            border: white;
            position: relative;
            padding: 0.5em 0.75em;
            line-height: 0.875;
            font-size: 0.75em;
            cursor: pointer;
            transition: background-color 0.15s ease-in;
            --webkit-font-smoothing: antialiased;
            will-change: transform;
        }
        button:after, button:before {
            content: "";
            display: block;
            width: 20px;
            border: 1px solid black;
            position: absolute;
            bottom: -2px;
            top: -2px;
            transition: width 0.15s ease-in-out;
        }
        button:before {
            border-right: none;
            left: -2px;
        }
        button:after {
            border-left: none;
            right: -2px;
        }
        button:hover {
            background: rgba(0, 0, 0, 0.85);
            color: white;
        }
        button:hover:before, button:hover:after {
            width: calc(50% + 2px);
        }
        button:focus {
            outline: none;
        }
        button:active {
            transform: scale(0.95);
            transition: transform 0.1s ease-out;
        }

        .continente {

            max-width: 50%;
            min-width: 50%;
            min-height: 50%;
            max-height: 50%;
            margin: 10% auto;
            text-align: center;
            background-color: #fff;
        }

        body {
            font-size: 1.25rem;
            height: 100vh;
        }
    </style>
{% endblock %}