{% extends 'base.html.twig' %}

{% block body %}
 {% block menu %}
     <nav id="navi" class="navbar">
         <button id="menuBtn" class="navbar__btn"><svg class="menu-ico" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
    <g>
        <path class="secondbar" d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636    c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z" fill="#FFFFFF"/>
    </g>
</g>
                 <g>
                     <g>
                         <path class="firstbar" d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636    c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z" fill="#FFFFFF"/>
                     </g>
                 </g>
                 <g>
                     <g>
                         <path class="thirdbar" d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636    c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z" fill="#FFFFFF"/>
                     </g>
                 </g></svg>
         </button>
         {% block nav %}
         <ul class="menu">
             <li class="menu__item"><a class="menu__link" href="{{ path('inicio_usuario', {'user': app.user.id}) }}"><i class="fas fa-home link-ico"></i>Inicio</a></li>
             <li class="menu__item"><a class="menu__link" href="#"><i class="fas fa-user link-ico"></i>otro</a></li>
             <li class="menu__item"><a class="menu__link" href="#"><i class="fas fa-mobile-alt link-ico"></i>Otro</a></li>
             <li class="menu__item"><a class="menu__link" href="#"><i class="fas fa-mobile-alt link-ico"></i>Otro</a></li>
             <li class="menu__item"><a class="menu__link" href="#"><i class="fas fa-mobile-alt link-ico"></i>Otro</a></li>
             <li class="menu__item"><a class="menu__link" href="#"><i class="fas fa-mobile-alt link-ico"></i>Otro</a></li>
             <li class="menu__item"><a class="menu__link" href="#"><i class="fas fa-mobile-alt link-ico"></i>Otro</a></li>
         </ul>
     </nav>
     {% endblock %}
     <header id="header" class="header">

         <a id="btn_salir" href="{{ path('usuario_salir') }}" class="ml-3 btn btn-outline-primary"><i class="fas fa-power-off"></i> EXIT</a>
     </header>
     {% block pantallajuego %}
     {% endblock %}



 {% endblock %}

    <style>
        html {
            font-size: 62.5%;
            font-family: 'Roboto', sans-serif;
        }

        body {
            margin: 0;
        }

        .canvas-bg {
            background: transparent;
            position: fixed;
            top: 0;
            left: 0;
        }
        #btn_salir{
            position:fixed;
            top:1em;
            right:1em;
        }

        .canvas-bg-active {
            opacity: 1;
            transition: 2s;
            z-index: 1;
        }

        .canvas-bg-deactive {
            opacity: 0;
            transition: 2s;
            z-index: -1;
        }

        .navbar {
            position: fixed;
            z-index: 2;
            height: 100%;
            background: rgba(0,0,0,0.4);
            box-sizing: border-box;
            /*padding: 150px 25px 0 25px;*/
            transition: 1s;
        }

        .header::before {
            z-index: 1;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            content: '';
            background: rgba(0,0,0,0.4);
            transition: 0.9s
        }

        .header-menu-open::before {
            left: 0;
            transition: 0.9s;
        }

        .navbar__btn {
            position: absolute;
            right: 0;
            top: 25px;
            transform: translateX(100%);
            background: none;
            border: none;
            cursor: pointer;
        }
        .navbar__btn:focus {
            outline: 1px solid #007bff;
        }

        .menu {
            list-style: none;
            color: #fff;
            padding: 0;
            margin: 0;
        }

        .menu__item {
            margin: 15px 0 30px 0;
            border-bottom: 1px solid #007bff ;
        }

        .menu__link {
            font-size: 2rem;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
        }

        .menu__link:hover {
            color: #f5286d;
        }

        .menu__link--active {
            color: #f5286d;
        }

        .menu-ico {
            width: 30px;

        }

        .menu-hidden {
            transform: translateX(-100%);
            transition: 1s;
        }

        .firstbar {
            fill: #fff;
        }

        .secondbar {
            fill:#fff;
        }

        .thirdbar {
            fill: #fff;
        }

        .navbar__btn:hover .firstbar, .navbar__btn:hover .thirdbar {
            transform: translateX(150px);
            fill: #70ffff;
            transition: 0.3s;
        }

        .link-ico {
            margin: 0 20px 0 0;
        }
    </style>
    <script>

        //=========
        //menu code
        //=========

        const menu = document.querySelector('#navi');
        const menuBtn = document.querySelector('#menuBtn');
        const header = document.querySelector('.header');
        const menuLink = document.querySelectorAll('.menu__link');
        const firstBar = document.querySelector('.firstbar')
        const thirdBar = document.querySelector('.thirdbar');


        //close menu after click link
        menuLink.forEach(link => link.addEventListener('click', function() {
            menu.classList.toggle('menu-hidden');
            firstBar.classList.toggle('menu-ico__firstbar--active');
            thirdBar.classList.toggle('menu-ico__firstbar--active');
            header.classList.toggle('header-menu-open');
            canvas.classList.toggle('canvas-bg-active');
            canvas.classList.toggle('canvas-bg-deactive');
        }))


        menu.classList.add('menu-hidden');

        //show menu and start canvas animation after hamburger button click
        menuBtn.addEventListener('click', function() {
            menu.classList.toggle('menu-hidden');
            firstBar.classList.toggle('menu-ico__firstbar--active');
            thirdBar.classList.toggle('menu-ico__firstbar--active');
            header.classList.toggle('header-menu-open');
            canvas.classList.toggle('canvas-bg-active');
            canvas.classList.toggle('canvas-bg-deactive');

            init();
            animate();
        });


        //loss focus on hamburger button, after transitionend
        menu.addEventListener('transitionend', function() {
            menuBtn.blur();
        })


    </script>


{% endblock %}
{% block javascripts %}
{% endblock %}