{% extends 'base.html.twig' %}

{% block body %}
<div id="div_phaser2">


</div>


{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.18.1/phaser.js"></script>
    <script src="{{ asset('js/phaser2/parte1/unit.js') }}"></script>
    <script src="{{ asset('js/phaser2/parte1/battleUIScenes.js') }}"></script>
    <script src="{{ asset('js/phaser2/parte1/bootScene.js') }}"></script>
    {#<script src="{{ asset('js/phaser2/parte2/scenes.js') }}"></script>#}
{% endblock %}