{% extends 'user/InterfazUsuario.html.twig' %}
{% block cont_cent %}
{% set raiz = 'src/pjs/' %}
<div id="lista_personajes">
    <h1>Lista de mercenarios</h1>

    <div class="tabla_cartas">



    <div class="row primera_fila">



        {%  for mer in mercenarios%}

        <div class="carta-ic-marco  columna">
            <div class="carta-icon " style="background:url({{ asset(raiz~ mer.image) }});
                    background-size:250%; background-position: 42% 10%;background-repeat: no-repeat;">
                <div class="carta-ic-cover"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <style>
        #lista_personajes{
            margin-top:5%;
            text-align: center;
        }
    </style>
{% endblock %}

{% block cont_der %}
{% set raiz = 'src/pjs/' %}

<div id="stat_personaje" class="panel_fondo_transparente ">
<div id="foto_personaje_detalle"style="background:url({{ asset(raiz)~'pj10.jpg' }});
                    background-size:200%; background-position: 42% 10%;background-repeat: no-repeat;">
</div>
<div id="ataques_personaje_detalle">

</div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function(){

        });
    </script>
{% endblock %}