{% extends 'layout.html.twig' %}

{% block cont_cent%}
<div id="cont_combate" class="panel_fondo_transparente">
<div id="combate_izq">
    <h1>{{ usuario.nick }}</h1>
    <p>{{ replica.mercenary.name }}</p>
    <p><span>ATQ</span>{{ replica.mercenary.atqBase  }}</p>
</div>
<div id="combate_derecha"></div>
</div>
{% endblock %}