{% extends 'layout.html.twig' %}
{% block cont_izq %}
    <div id="cont_izq" class="panel_fondo_transparente">
        <ul>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
        </ul>
    </div>
{% endblock %}
{% block cont_der %}
    <div id="cont_derecha" class="panel_fondo_transparente">
        <ul>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
        </ul>
    </div>
{% endblock %}