{% extends 'layout.html.twig' %}
{% block cont_izq %}
    <div id="cont_izq" class="panel_fondo_transparente">
        <ul>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
        </ul>
    </div>
{% endblock %}

{% block cont_cent %}
    <div id="cont_cent" class="panel_fondo_transparente">
        <h1>INICIO</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut, consequuntur dicta distinctio esse illum in incidunt iure laboriosam molestiae necessitatibus nesciunt nihil, nobis numquam odio omnis placeat quidem voluptates.
    </div>
{% endblock %}

{% block cont_der %}
    <div id="cont_derecha" class="panel_fondo_transparente">
        <ul>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
            <li>cosa</li>
        </ul>
    </div>
{% endblock %}