/*.nav_pri{*/
    /*background-color: rgba(10,10,10,0.75);*/
    /*border-bottom: 2px outset #70ffff;*/
/*}*/

#wrapper{
    height: 100vh;
    background-color: rgba(3,3,35,0.8);
    display: block;
    border: 0.1vw outset black;
}
#cont_portada{
    position:fixed;
    top:11%;
    left:10%;
    width: 80%;
    overflow-y: scroll;
    max-height: 85vh;
}
#cont_izq{
    position:fixed;
    left:1%;
    top:15%;
    width:11%;
    margin-right:2.5%;
}
#cont_cent{
    position:fixed;
    top:15%;
    left:18%;
    min-height: 85%;
    width: 60%;

    margin: auto;
    border:0;
}

#cont_derecha{
    position:fixed;
    right:0.05%;
    top:15%;
    width:20%;
    margin-left: 2.5%;
    /*min-height: 85%;*/
}

#stat_personaje{
    position:fixed;
    right:2.5%;
    top:15%;
    width:25%;
    margin-left: 2.5%;
    min-height: 85%;
}
#foto_personaje_detalle{
    height: 30vw;
    width:100%;
}
#ataques_personaje_detalle{
    position:absolute;
    z-index: 2;
    height: 10vw;
    width: 100%;
    background-color: rgba(250,250,250,0.9);
}

/* COMBATE */
#cont_combate{
    position:relative;
    margin:auto;
    min-height: 100%;
    width: 100%;
    border:0;
}
#op_combate{
    position: fixed;
    top:0;
}

#combate_izq{
    position:fixed;
    top:15%;
    left:10%;
}
#interfaz_batalla{
    position:fixed;
    bottom:2px;
    background-color: rgba(190,190,190,0.2);
    width:99.8%;
    height: 15%;
    border-top:2px solid #70ffff;
}
#interfaz_batalla ul{
    display:flex;
}
#interfaz_batalla li{
    display: inline-block;
    margin: auto;
}
#ataques_batalla{
    width: 40%;

    position:relative;

    margin-left:20px;
    margin-top:20px;
    background-color: rgba(40,40,40,0.8);

}
/* FIN COMBATE*/
/*#bloque_content{*/
    /*width:100%;*/
    /*height: 100%;*/
    /*background-color: blue;*/
    /*margin-top:15%;*/
/*}*/